.main {
  max-width: 80rem;
  padding: 1.5rem;
  margin: auto;
  padding-bottom: 100px;
}


.left {
  width: 200rem;
  float: left;
  vertical-align: top;
}​

.parent {
  /*display: flex;*/
  /*width: 50rem;*/
  /*height: 200px;*/
}

.left-div {
    width: 50%;
    float: left;
    padding: 10px
}​

.right {
  float: right;
  vertical-align: top;
}

.ct-chart {
  vertical-align: bottom;
}

.ct-line.ct-threshold-above, .ct-point.ct-threshold-above{
  stroke: green;
}

.ct-area.ct-threshold-above {
  fill: green;
}

.ct-line.ct-threshold-below, .ct-point.ct-threshold-below {
  stroke: red;
}

.ct-area.ct-threshold-below {
  fill: red;
}

.margin-above{
  margin-top: 900px;
}

